{{/* Custom header with tropical styling */}}
<header class="site-header tropical-header">
  <div class="mw7 center ph3 pv3">
    <div class="f2 fw6 mb2">
      <a href="{{ .Site.BaseURL }}" class="site-title link white">
        {{ .Site.Title }}
      </a>
    </div>
    <div class="f4 fw3 white-80">
      {{ .Site.Params.description }}
    </div>
  </div>
</header>

{{/* Include custom CSS */}}
{{ $tropical := resources.Get "ananke/css/tropical-theme.css" }}
<style>
{{ $tropical.Content | safeCSS }}
</style>